data/** 
output
bin/**
include
input/**
.vscode
token
include/new
include/old
plots
!input/default.par
!input/test.par
pdg
build
utils/__pycache__
CMakelists.txt

process.job
utils/process.sh
src/binaries/**
!src/binaries/ampt-v1.26t9b-v2.26t9b.zip
src/test
src/original_up

!data/.gitignore